---
layout: default
title: 主页
permalink: index.html
---

<article class="index">
  <h1 class="page-title">所有文章</h1>
  <div class="message">
    {% if site.notification == '' %}来来来，用你那宝剑杀了俺罢！{% else %}{{site.notification | markdownify}}{% endif %}
  </div>

  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2 id="year-{{post.date | date: '%Y'}}">{{currentdate}}</h2>
      <ul class="related-posts">
      {% assign date = currentdate %}
    {% endif %}
    {% assign tag = site.data.tags[post_tag] %}
    {% if tag %}
      {% capture tags_content_temp %}
        {{tags_content}}<a href="https://badtabbywhitecat.github.io/tags/{{post_tag}}.html">{{tag.name}}</a>
        {% if forloop.last == false %}<span>和</span>{% endif %}
      {% endcapture %}
      {% assign tags_content = tags_content_temp %}
    {% endif %}
    <li>
      <div class="heading">
        <a href="{{site.baseurl}}{{post.url}}"><span>{{post.title}}</span></a>
        <span class="timestamp">{{post.date | date: '%m月%d日'}} &middot;{{tags_content}}<a href="https://badtabbywhitecat.github.io/tags/{{post_tag}}.html">{{tag.name}}</a></span>
      </div>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</article>